<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import axios from "axios";
import { onUnmounted, ref } from "vue";
import { onMounted } from "vue";

const glasses = ref({
  total: 0,
  limit: 12,
  page: 1,
  selected: 0,
  items: [] as any,
});

const colors = ["black", "tortoise", "coloured", "crystal", "dark", "bright"];

const shapes = ["square", "rectangle", "round", "cat-eye"];

const isLoading = ref(true);
const showFilter = ref(false);

const filters = ref({
  sorts: [],
  pages: [],
  lens_variant_prescriptions: [],
  lens_variant_types: [],
  glass_variant_frame_variant_colour_tag_configuration_names: [],
  glass_variant_frame_variant_frame_tag_configuration_names: [],
  frame_variant_home_trial_available: null,
});
const base_url =
  "https://staging-api.bloobloom.com/user/v1/sales_channels/website/collections/spectacles-men/glasses";

onMounted(() => {
  loadGlasses();

  window.onscroll = () => {
    const { scrollTop, scrollHeight, clientHeight } = document.documentElement;

    if (
      scrollTop + clientHeight >= scrollHeight - 5 &&
      !isLoading.value &&
      glasses.value.selected < glasses.value.total
    )
      loadMore();
  };
});


const loadGlasses = () => {
  axios
    .get(base_url + "?page[limit]=" + glasses.value.limit)
    .then((r) => {
      isLoading.value = false;
      glasses.value.selected = r.data.glasses.length;
      glasses.value.items = r.data.glasses;
      glasses.value.total = r.data.meta.total_count;
    })
    .catch((e) => {
      isLoading.value = false;
    });
};

const loadMore = () => {
  isLoading.value = true;
  const page_ = glasses.value.page + 1;
  axios
    .get(base_url + "?page[limit]=" + glasses.value.limit + "&page[number]=" + page_)
    .then((r) => {
      glasses.value.selected += r.data.glasses.length;

      for (var i = 0; i < r.data.glasses.length; i++) {
        glasses.value.items.push(r.data.glasses[i]);
      }

      glasses.value.total = r.data.meta.total_count;
      glasses.value.page = page_;
      isLoading.value = false;
    })
    .catch((e) => {
      isLoading.value = false;
    });
};

const buildFilters = () => {
  var _filters = "";

  if (
    filters.value.glass_variant_frame_variant_colour_tag_configuration_names.length > 0
  ) {
    for (
      let index = 0;
      index <
      filters.value.glass_variant_frame_variant_colour_tag_configuration_names.length;
      index++
    ) {
      _filters +=
        "&filters[glass_variant_frame_variant_colour_tag_configuration_names][]=" +
        filters.value.glass_variant_frame_variant_colour_tag_configuration_names[index];
    }
  }

  if (
    filters.value.glass_variant_frame_variant_colour_tag_configuration_names.length > 0
  ) {
    for (
      let index = 0;
      index <
      filters.value.glass_variant_frame_variant_colour_tag_configuration_names.length;
      index++
    ) {
      console.log(
        filters.value.glass_variant_frame_variant_frame_tag_configuration_names
      );
      /* _filters +=
      "&filters[glass_variant_frame_variant_frame_tag_configuration_names][]=" +
      filters.value.glass_variant_frame_variant_frame_tag_configuration_names[index]; */
    }
  }

  return _filters;
};

const handleFilter = () => {
  axios
    .get(base_url + "?page[limit]=" + glasses.value.limit + buildFilters())
    .then((r) => {
      isLoading.value = false;
      glasses.value.selected = r.data.glasses.length;
      glasses.value.items = r.data.glasses;
      glasses.value.total = r.data.meta.total_count;
    })
    .catch((e) => {
      isLoading.value = false;
    });
};
</script>

<template>
  <main>
    <section>
      <nav>
        <div class="grid-container">
          <div class="grid-item grid-item-center">
           
          </div>
          <div class="grid-item grid-item-center">SPECTACLES WOMEN</div>
          <div class="grid-item end-items">
            
            <div class="grid-item end-item" @click="showFilter = !showFilter">
              
              <span class="filter-center" ><br>Filter  </span><span class="filter-center mr-12" ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
              <path strokeLinecap="round" width="25px" strokeLinejoin="round"
              d="M6 13.5V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 9.75V10.5" />
            </svg>
          </span>
          
</div>
          </div>
        </div>
         <Transition class="fade">
          <div  class="col-md-12 m-auto">
        


        <span v-if="showFilter" class=" col-md-12 m-auto">
          <span class="grid-main-container col-md-12 m-auto">
            <div class="grid-item">
              
            <div class="grid-item">COLOUR</div>
            <div class="colour">
              
              <div v-for="(color, index) in colors" :key="index">
              
                  
                <input
                  type="checkbox"
                  @change="handleFilter()"
                  v-model="
                    filters.glass_variant_frame_variant_colour_tag_configuration_names
                  "
                  :value="color"
                  :id="'color-' + color"
                />
              
              
                <label :for="'color-' + color">{{ color }}</label>
              
              </div>
            
            </div>
          
        </div>
        <div class="grid-item">
              
                <div class="grid-item">SHAPE</div>
                    <div class="color">
                      
                        <div v-for="(shape, index) in shapes" :key="index">
                          <input
                            type="checkbox"
                            @change="handleFilter()"
                            v-model="
                              filters.glass_variant_frame_variant_colour_tag_configuration_names
                            "
                            :value="shape"
                            :id="'shape-' + shape"
                          />
                          <label :for="'shape-' + shape">{{ shape }}</label>
                        </div>
                      
                    </div>
                  
                </div>
                </span>
        </span>
      </div>
      </Transition>
        <span class="grid-container">
          <div v-for="(glasse, index) in glasses.items" :key="index" class="grid-item">
            
            <span class="grid-item-label"><h5>{{ glasse.name }}</h5></span>
          
            <img
              :src="glasse.glass_variants[0].media[0].url"
              class="glass-full"
              alt="glace"
            />
          </div>
        </span>
        <div class="items-loader" v-if="isLoading">Loading ...</div>
      </nav>
    </section>
  </main>
</template>
<style>
main {
  padding-top: 80px;
}

.items-loader {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bolder;
  margin: 10px 0;
}

.glass-full {
  width: 100%;
  object-fit: cover;
}

.grid-item-label {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.slide-fade-enter-active{
  transition: all 1.0s ease-out;
}

.filter{
  display: flex;
}
</style>
