<script setup lang="ts">
import axios from "axios";
import { ref } from "vue";
import { onMounted } from "vue";

const glacesses = ref({
  total: 0,
  collections: [],
});
const base_url =
  "https://staging-api.bloobloom.com/user/v1/sales_channels/website/collections";

onMounted(() => {
  loadGlacesses();
});

const loadGlacesses = () => {
  axios
    .get(base_url)
    .then((r) => {
      glacesses.value.total = r.data.meta.total_count;
      glacesses.value.collections = r.data.collections;
    })
    .catch((e) => {
      console.log(e.response);
    });
};

const groups = ["Women", "Men"];
</script>
<template>
  <header class="header">
  <div class="top-menu">
    <!-- <span class="toogle-side-bar">Menu</span>
    <span><img src="@/assets/logo.svg" alt="logo" class="logo-icon" /></span> -->
    <div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<!-- <img src="assets/img/" class="img-fluid" alt="Logo">-->
						</a>
					</div>

    <div class="toogle-side-bar">
      <span>
      <ul class="main-nav">
        <li class="has-submenu">
          <a class="" href="#">Home</a>
          <ul class="submenu">
            <li class="has-submenu">
              <a href="#">Women</a>
              <ul class="submenu">
                <li><RouterLink to="/spectacles-women">Spectacles</RouterLink> </li>
                <li><RouterLink to="/sunglasses-women">Sunglasses</RouterLink></li>
              </ul>
            </li>

            <li class="has-submenu">
              <a href="#">Men</a>
              <ul class="submenu">
                <li><RouterLink to="/spectacles-men">Spectacles</RouterLink> </li>
                <li><RouterLink to="/sunglasses-men">Sunglasses</RouterLink></li>
              </ul>
            </li>
            <li>
              <a href="#">Home Try On</a>
            </li>
			<li>
              <a href="#">Pair for Pair</a>
            </li>
          </ul>
        </li>
      </ul>
    </span>
      <span><img src="@/assets/logo.svg" alt="logo" class="logo-icon" /></span>
    </div>
    <!-- <span><img src="@/assets/logo.svg" alt="logo" class="logo-icon" /></span> -->
  </div>
  </header>

</template>
